<!doctype html>
<html>
    <title><h1>Welcome to Madlib Game<h1></title>
    <body>
        <form action="/madlib">
            <p>
                <label>
                    Person:
                </label>
                <input type="text" name="person">
            </p>
            <p>
                <label>
                    Color:
                </label>
                <input type="text" name="color">
            </p>
            <p>
                <label>
                    Noun:
                </label>
                <input type="text" name="noun">
            </p>
            <p>
                <label>
                    Adjective:
                </label>
                <input type="text" name="adjective">
            </p>
            <p>
                <input type="submit">
            </p>
        </form> 
    </body>

</html>